<div class="col-md-12 content">
  <h2><%= params[:type].humanize.upcase %> GALLERIES</h2>
  <div class="row">
    <% @categories.each do |category| %>
      <div class="col-xs-6 col-sm-6 col-md-4">
        <div class="col-md-12 category-gallery">
          <%= link_to (image_tag category.icon_image.url(:big), :class => "img-responsive img-rounded"),
                        category_path(category.permalink) %>
          <div class="title">
            <%= link_to "#{category.title.humanize} (#{category.galleries.count})",
                        category_path(category.permalink) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
