<div class="col-xs-12 col-sm-12 col-md-12 univ-search-bar">
  <div class="row">
    <%= form_tag university_search_result_path do %>
      <div class="col-xs-12 col-sm-4 col-md-3 no-padding-lr text-right">
        <p>Nama Universitas :</p>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-8">
        <div class="input-group">
          <%= text_field_tag "name", params[:name], :class => "form-control", :placeholder => "Search for..." %>
          <span class="input-group-btn">
            <%= submit_tag "Cari", :class => "btn btn-default" %>
          </span>
        </div>
      </div>
    <% end %>
  </div>
</div>