/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.qtip.css
 */
 
*{margin:0;padding:0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl,
dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit;
                    font-style: inherit; font-size: 100%; font-family: inherit;
                    vertical-align: baseline; }
:focus { outline: 0; }
ol, ul { list-style: none; }
table { border-collapse: collapse; border-spacing: 0; }
tr, td, th{ border: 1px black solid; padding: 5px; }
caption, th, td { text-align: left; font-weight: normal; vertical-align:middle;}
blockquote:before, blockquote:after,
q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
a img, a:hover img { border:none; }
h1,h2,h3,h4,h5,h6 { margin:0px 0px 10px 0px; padding:0px;
                    font-weight:normal; font-family: Verdana,Arial,Helvetica,sans-serif; }
a { text-decoration:none; cursor:pointer; outline:none;color:black;}
a:hover { text-decoration:none; }
.clear { clear:both; margin:0px; padding:0px; height:0px; line-height:0; font-size:0; }
.left { float:left; width:auto; border:none; }
.right { float:right; }
.center { text-align:center; }
.text-right { text-align:right; }
.text-left { text-align:left!important; }
strong{font-weight:bold;}
small{font-size:10px; color:white;}
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility:hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height:1%; }
html, body {height: 100%;}
.container {width: 1020px; margin: 0 auto; min-height: 100%; background-color: #fafafa;box-shadow:0 0 6px rgba(0, 0, 0, 0.2)}
h3 {font-size: 20px;}
p { font-size: 13px; line-height: 1.6em; margin-bottom: 13px;}
body {font: 12px Verdana, arial, sans-serif;}
/*@font-face {
  font-family:"Lobster1.4";
  src:url("font/Lobster_1_4.eot");
  src:url("font/Lobster_1_4.eot?#iefix") format('embedded-opentype'),
  url("font/Lobster_1_4.ttf") format('truetype');
  font-weight:normal;font-style:normal;
}*/

#header img, .center-header, #header form, #header ul li, #nav-menu ul li, .twit, .twit p,
.designer, .designer p , .store p, #content-left {float: left;}


/********* HEADER ******/
#header {width: 850px; height:190px;margin:0 auto;}
.center-header {width: 610px; position: relative; top: 40px; left: 30px}

.header-logo{
  float:left;width:400px;margin-top: 25px;
}

.sosmed{
  float:right;width:450px;margin-top: 45px;
}


/**************** FOOTER ***************************/
#footer{
  clear: both;
  padding:20px;
  height: 160px;
}

#footer em{
  background-color: #C3CAFF;
  display: block;
  height: 2px;
}

.nav-footer{
  float: left;
  width: 700px;
  margin-top: 20px;
}

.nav-footer ul{ list-style: none outside none }
.nav-footer ul li {
    border-right: 1px solid #000;
    float: left;
    line-height: 10px;
    margin-right: 5px;
    padding-right: 5px;
}

li.none-border{
    border: medium none!important;
}

.contact-us-footer{
  float: left;
  width: 250px;
  margin-top: 20px;
}

/*************** SUB MENU ************/
ul.down-menu{
/*  color: #626262;*/
  color: #ffffff;
  height: 50px;
  font-size: 17px;
}

ul.down-menu li a,/* ul.down-menu li.list-gallery, */ul.down-menu li span.nav-title {
/*  color: #626262;*/
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 17px 0;
  width: 100%
}

#nav-menu {
  float:left;
  height:50px;
  background-color: #262A30;
  margin: 20px 0 10px 0;
}
#nav-menu ul li {
  position:relative;
	min-height: 1px;
	vertical-align: bottom;
  width: 120px;
  text-align: center;
  border-left: 1px solid white;
}

#nav-menu ul li.no-border{
  border-left: none;
}

#nav-menu ul li.sub-menu {
  width: 200px;
  text-align: left;
}

#nav-menu ul li.sub-menu span{
	margin: 0 1em;
}

#nav-menu ul li:hover, #nav-menu ul li:hover a, #nav-menu ul li a:hover {
  background-color: #bd1522;
  color: #fafafa;
}

/*#nav-menu ul ul{
  background-color: #de2c29;
  background-color: #262A30;
  display: none;
	width: 845px;
}

#nav-menu ul ul a{
  color: #6cffff;
  background-color: #de2c29;
}*/

ul.list-univ, ul.list-info, ul.list-book, ul.list-gallery{
  color: #6cffff;
	z-index: 500;
	top: 48px;
	position: absolute;
  display: none;
  background-color: #262A30;
  opacity: 0.9;
  font-size: 13px;
}

ul.list-univ{
	width: 846px;
  left: -484px;
  min-height: 110px;
  cursor: default;
}

ul.list-info, ul.list-book{
  width: 140px;
}

ul.list-univ li, ul.list-info li, ul.list-book li, ul.list-gallery li{
  cursor: default!important;
  float: left !important;
  border-left: none !important;
  height: auto;
  padding: 15px 0;
}

ul.list-univ li{
  width: 211px!important;
}

ul.list-info li, ul.list-book li{
  width: 140px;
}

ul.list-univ li:hover, ul.list-univ li a, ul.list-univ li a:hover,
ul.list-info li:hover, ul.list-info li a, ul.list-info li a:hover,
ul.list-book li:hover, ul.list-book li a, ul.list-book li a:hover,
ul.list-gallery li:hover, ul.list-gallery li a, ul.list-gallery li a:hover{
  background-color: #262A30!important;
}

ul.list-univ li a, ul.list-info li a, ul.list-book li a, ul.list-gallery li a{
  padding: 5px 0 0 0!important;
  width: auto;
  font-size: 12px!important;
}

ul.list-univ li a:hover, ul.list-info li a:hover,
ul.list-book li a:hover, ul.list-gallery li a:hover{
  color: #c3caff!important;
}

ul.list-univ li span, ul.list-info li span, ul.list-book li span, ul.list-gallery li span{
  float: left;
  margin: 5px 0 0 10px;
  text-align: left;
  width: 201px;
}

ul.list-info li span, ul.list-book li span{
  width: 130px!important;
}

ul.list-univ li span:hover, ul.list-info li span:hover, ul.list-book li span:hover,
ul.list-gallery li span:hover{
  color: white;
}

/*#nav-menu ul ul li a {
	padding: 5px 10px;
	color: #025858 !important;
}

#nav-menu ul ul li a:link, #nav-menu ul ul li a:visited, #nav-menu ul ul li a:active	 {	background-color: #cccaca; display: block;}
#nav-menu ul ul li a:hover	{ background-color: #5c5b5b; color: #fff !important;}
#nav-menu ul ul li a.parent, #nav-menu ul ul li a.parent:hover {
	background-image: url(../images/pointer-more.png);
	background-position: right center;
	background-repeat: no-repeat;
}*/

#nav-menu ul ul ul { top:0; left:92%;}
#nav-menu ul li:hover { cursor:pointer; z-index:100;}

/*************** CONTENT ************/

#content-home{
  clear: both;
  padding:10px 20px;
}

#content{
  clear: both;
  padding:20px 85px 20px;
  background-color:#f5cdfa;
  min-height:700px;
}

.content-layer{
  background: url("../assets/background.png") no-repeat scroll 50% 20% #FBE5FC;
  background-color:#fbe5fc;
  margin:10px 25px 20px;
  padding:20px;
  border:solid 1px #fbe5fc;
  border-radius:10px;
  min-height:550px;
  float: left;
  width: 760px;
}

.news-layer{
  background: none!important;
  padding: 0!important;
  margin: 10px 0 20px!important;
  width: 850px!important;
  border: none!important;
}

.content-title{
  float:left;
  margin: 0 25px;
  font-size:30px;
  min-height: 50px;
  width:800px;
}

.content-left{
  padding-left: 65px;
  float: left;
  width: 640px;
}

.content-left .gxnu-title, .content-left .gxnu-description,
.content-left .gxnu-more{
  width: 630px;
  font-size: 25px;
  margin-bottom: 15px
}

.content-left .gxnu-description{
  font-size: 13px;
/*  height: 255px;
  padding: 0 65px;*/
  overflow: hidden;
  position: relative;
}

.list-univ-at-map-box{
  float: left;
  position: absolute;
  color: black;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

#guilin, #guangxi{
  left: 340px;
  top: 415px;
  height: 50px;
  width: 90px;
}

#hainan{
  left:390px;
  top: 493px;
  height: 32px;
  width: 37px;
}

#hunan{
  left:400px;
  top: 355px;
  height: 50px;
  width: 50px;
}

#wuhan, #hubei{
  left:405px;
  top: 322px;
  height: 40px;
  width: 65px;
}

#chongqing {
  height: 30px;
  left: 348px;
  top: 338px;
  width: 40px;
}

#nanjing, #jiangsu {
  height: 50px;
  left: 502px;
  top: 275px;
  width: 34px;
}

#shanghai {
  height: 13px;
  left: 535px;
  top: 315px;
  width: 14px;
}

#guizhou {
  height: 57px;
  left: 336px;
  top: 366px;
  width: 63px;
}

#shandong {
  height: 42px;
  left: 465px;
  top: 234px;
  width: 48px;
  z-index: 1000;
}

#shijiazhuang {
  height: 78px;
  left: 438px;
  top: 178px;
  width: 56px;
  z-index: 500;
}

#beijing {
  height: 22px;
  left: 457px;
  top: 190px;
  width: 20px;
  z-index: 1000;
}

#taiwan {
  height: 50px;
  left: 543px;
  top: 402px;
  width: 20px;
}

.list-univ-at-map{
  display: none
}

.list-univ-at-map p{
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0px;
}

.list-univ-at-map a{
  text-decoration: underline;
}

.list-univ-at-map a:hover{
  color: #858585;
}

.list-univ-at-map ul{
  margin-bottom: 10px;
}

.list-univ-at-map ul li{
  background: url("../assets/arrow-list.png") no-repeat;
  background-position: center left;
  padding-left: 23px;
  margin-bottom: 5px;
}

.content-left .gxnu-more{
  font-size: 13px;
  height: 15px;
  text-align: right;
}

.content-left .gxnu-more a:hover{
  color: #858585;
}

.mini-table{
  width: 270px;
  margin-right: 20px;
  float: left;
  margin-bottom: 20px;
}

.mini-table-main, .mini-table-main a {
  background-color: #c2272d;
  color: #fff !important;
  padding: 10px;
  text-transform:uppercase;
}

.mini-table-head {
  font-size: 17px;
  height: 40px;
}

.mini-table-mid{
  background-color: #fff; 
  color: #000 !important;
  padding: 10px;
  height: 245px;
  font-size: 13px;
  overflow: hidden;
}

.mini-table-mid span.image{
  float: left;
  margin: 0 10px 5px 0;
}

.mini-table-mid span.desc{
  height: 150px;
  position: relative;
  overflow: hidden;
}

.mini-table-low{
  font-size: 12px;
  height: 15px;
  text-align: right;
}

.content-right{
  width: 205px;
  float: left;
  padding-left: 5px;
}

.facebook, .twitter{
  float:right;
  width:118px;
  padding: 5px;
  height:30px;
  border: solid 1px black;
  margin-right:10px;
  background-color: white;
}

.twitter{background-color:#f4f6d7;}

.facebook img, .twitter img{float:left;}

.facebook span, .twitter span{
  float:left;
  padding-top:8px;
  margin-left:5px;
  font-size:13px;
  color: #304a7d;
}

.twitter span{color: #46bad7;}

.graduated-student{
  float:left;
  width:205px;
  text-align: justify;
}

.graduated-student-up-down, .graduated-student-up-down a{
  background-color:#c3caff;
  color:white;
  height: 20px;
  padding:10px;
}

.graduated-student-up-down span{font-size:22px;}

.graduated-student-mid{
  background-color:#fec4d4;
  min-height:125px;
  padding:10px;
}

.testi-pic{
  width: 120px;
  float: left;
}

.testi{
  display: inline;
  width: 250px;
}

.testi-from{
  font-size: 22px;
  margin-bottom: 10px;
}

.field{
  float: left;
  width: 760px;
  height: 30px;
  margin-bottom: 10px;
}

.clear-margin{
  margin: 0;
}

.input-title{
  width: 150px;
  margin-right: 5px;
}

.input-title span{
  float: right;
}

.input-box{
  width: 500px;
}

.extra-margin-bottom{
  margin-bottom: 20px;
}

#gallery {
  padding: 30px;
  background: #e1eef5;
}

p.ad-info{
  font-size: 12px;
}

.category-gallery-description{
  margin-top: 20px;
  width: 800px;
}

.testimonial-row{
  width: 880px;
  margin-bottom: 15px;
  float: left;
}

.testimonial-row a{
  text-decoration: underline;
}

.testimonial-photo{
  width: 250px;
  height: 165px;
  float: left;
  margin-right: 20px;
}

.testimonial-content{
  width: 600px;
  height: 165px;
  float: left;
}

.testimonial-content .name, .testimonial-content .email,
.testimonial-content .testimonial{
  width: 600px;
  float: left;
  word-wrap: break-word;
}

.testimonial-content .name{
  font-size: 23px;
  height: 40px;
}
.testimonial-content .testimonial{
  height: 190px;
}

.testimonial-photo-detail{
  float: left;
  width: 420px;
  height: 310px;
}

.testimonial-detail{
  display: inline;
}

.testimonial-detail .testimonial-from-detail{
  font-size: 24px;
  height: 40px;
}

.testimonial-detail .testimonial-content-detail p{
  margin-bottom: 5px;
  line-height: 1.5em;
}

.error{
  background-color:lightpink;border:1px solid red;
  text-align:center;padding:3px;
}

.notice{
  background-color:#a3d7ff;
  border:1px solid blue;
  text-align:center;padding:3px;
}

#errorExplanation {
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding-top:15px;
}

#errorExplanation ul li {
  font-size: 14px;
  list-style: square inside;
  color:#000000;
}

.pagination{
  float: left;
  width: 750px;
}


.category-gallery, .book-box{
  float: left;
  width: 242px;
  height: 250px;
  margin-right: 16px;
}

.category-gallery{
  height: 275px!important;
}

.no-margin-right{
  margin-right: 0!important;
}

.category-gallery .pic{
  float: left;
  width: 240px;
  height: 180px;
  border: 1px solid black;
  margin-bottom: 10px;
}

.category-gallery .pic img{
    display: block;
    margin: auto;
    width: 240px;
}

.category-gallery .title{
  float: left;
  width: 190px;
  height: 50px;
  padding-right: 20px;
  font-size: 14px;
}

.univ-detail{
  float:left;
  height: auto;
  width:555px;
  margin-right: 25px
}

.news-detail{
  float:left;
  height: auto;
  width:760px;
}

.list-univ-by-province{
  float:left;
  height: auto;
  width:175px;
}

.univ-logo{
  float: left;
  width: 550px;
  margin-bottom: 15px;
}

.feature-image{
  float: left;
  width: 410px;
  margin-bottom: 15px;
}

.univ-title{
  float: left;
  width: 75px;
  margin-bottom: 5px;
}

.news-title{
  font-size: 22px;
  margin-bottom: 20px;
}

.univ-value{
  float: left;
  width: 480px;
  margin-bottom: 5px;
}

.news-value{
  margin-bottom: 5px;
}

.univ-desc{
  width: 560px;
}

.news-information{
  position: relative;
}

.list-univ-by-province-title{
  float: left;
  width: 175px;
  font-size: 21px;
  margin-bottom: 10px;
}

.list-univ-by-province ul li ul.child{
  display: none;
  margin-top: 10px;
}

.list-univ-by-province ul li ul.child li{
  background: url("../assets/arrow-list.png") no-repeat;
  background-position: center left;
  padding-left: 23px;
  margin-bottom: 5px;
}

.book-box{
  float: left;
  width: 200px;
  height: 270px;
  margin: 0 16px 25px 0;
  border: 1px solid #444444;
  padding: 20px 20px 0;
}

.book-box .book-pic{
  float: left;
  width: 150px;
  height: 200px;
  margin-bottom: 10px;
  border: 1px solid #444444;
  padding: 0 25px;
}

.book-box .book-pic:hover{
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.book-box .book-title, .book-box .book-price{
  float: left;
  width: 204px;
  height: 30px;
}

.book-box .book-price{
  font-size: 16px;
  font-weight: bold;
  height: 28px;
}

.book-detail-pic{
  width: 300px;
  height: 400px;
  margin: 0 20px 10px 0;
  float: left;
}

.book-detail-title, .book-detail-price{
  width: 400px;
  height: 30px;
  margin-bottom: 10px;
  float: left;
  font-size: 16px;
}

.book-detail-description{
  margin-bottom: 10px;
  font-size: 16px;
}

.book-note{
  float: left;
  width: 760px;
}

.book-note p{
  margin-bottom: 0px;
}

.features{
  float: left;
  padding-left: 65px;
  width: 850px;
  margin: 20px 0 10px;
}

.feature{
  float: left;
  width: 300px;
}

.text-area ol{
  list-style-type: decimal!important;
  list-style-position: inside!important;
  margin-bottom: 5px!important;
}

.text-area ol ol li{
  margin-bottom: 5px!important;
}

.text-area ol li{
  margin-top: 5px!important;
}

.text-area ol ol{
  padding-left: 10px;
  margin-bottom: 5px!important;
}

.text-area ul{
  list-style: disc none inside!important;
}
.text-area ul li{
  padding-left: 10px!important;
  margin-bottom: 5px!important;
}
