<div class="field">
  <div class="input-title left"><%= f.label :link %></div>
  <div class="input-box left">:&nbsp;&nbsp;<%= f.text_field :link %></div>
</div>
<div class="field clear-margin">
  <div class="input-title left"><%= f.label :banner_image, "Image *" %></div>
  <div class="input-box left">:&nbsp;&nbsp;<%= f.file_field :banner_image %></div>
</div>
<div class="field">
  <div class="input-title left">&nbsp;</div>
  <div class="input-box left">
    <span>please input image with size 850x360 (width x height)</span>
  </div>
</div>

