<div class="form-group">
  <%= f.label :link, "Link", :class => "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :link, :class => "form-control" %>
  </div>
</div>
<div class="form-group margin_b_0">
  <%= f.label :banner_image, "Image *", :class => "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.file_field :banner_image, :class => "control-label btn btn-default btn-file" %>
  </div>
</div>
<div class="form-group margin_b_30">
  <div class="col-sm-2">&nbsp;</div>
  <div class="col-sm-10">
    please input image with size 850x360 (width x height)
  </div>
</div>
