<div class="col-md-12 content">
  <%#*<h2>STUDENT ASSOCIATIONS</h2>%>
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4">
      <%= link_to (image_tag "ppit-logo.png", :class => "img-responsive"), "http://ppitiongkok.org/", :terget => "blank" %>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8">
      <% @student_associations.each do |student_association| %>
        <div class="col-xs-6 col-sm-6 col-md-6">
          <div class="student-association img-rounded well">
            <%= link_to (image_tag student_association.logo.url(:medium),
                        :class => "img-responsive img-rounded #{student_association.logo_position}"),
                        target_url(student_association.url), :target => "blank" %>
            <%#= link_to student_association.name.humanize, target_url(student_association.url),
                        :target => "blank", :class => "col-xs-12 col-sm-12 col-md-12 student-association-name" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
$( document ).ready(function() {
    var heights = $(".well").map(function() {
        return $(this).height();
    }).get(),

    maxHeight = Math.max.apply(null, heights);

    $(".well").height(maxHeight);
});

</script>
