<div class="col-md-12 content">
  <h2>PROGRAMS</h2>
  <% @program_categories.each do |program_category| %>
    <div class="col-xs-12 col-sm-6 col-md-4 margin_b_30">
        <div class="col-md-12 mini-table-head well-height" style="background-color:#<%= program_category.color %>">
          <%= program_category.name.humanize.titleize %>
        </div>
        <div class="col-md-12 mini-table-mid">
          <ul>
            <% program_category.features.each do |program| %>
              <li><%= link_to program.title, program_path(program.permalink) %></li>
            <% end %>
          </ul>
        </div>
        <div class="col-md-12 mini-table-foot" style="background-color:#<%= program_category.color %>">
          &nbsp;
        </div>
    </div>
  <% end %>
</div>

<script>
$( document ).ready(function() {
    var heights = $(".well-height").map(function() {
        return $(this).height();
    }).get(),

    maxHeight = Math.max.apply(null, heights);

    $(".well-height").height(maxHeight);
});

</script>
