<div id="content">
  <div class="content-title">NEWS DETAIL</div>
  <div class="content-layer">
    <div class="news-detail">
      <% if @news.feature_image.file? %>
        <div class="feature-image">
          <%= image_tag @news.feature_image.url(:large), :size => "390x520" %>
        </div>
      <% end %>
      <div class="news-information">
        <div class="news-title"><%= @news.title.titleize %></div>
        <div class="news-desc text-area"><%= raw @news.description %></div>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>
