<div class="col-xs-12 col-sm-12 col-md-12 ticket-search-bar">
  <div class="row">
    <%= form_tag search_result_path do %>
      <div class="col-xs-3 col-sm-1 col-md-1 no-padding-lr">
        <p>Origin :</p>
      </div>
      <div class="col-xs-9 col-sm-1 col-md-4">
        <%= text_field_tag "origin", params[:origin], :class => "form-control", :placeholder => "Search for..." %>
      </div>
      <div class="col-xs-3 col-sm-1 col-md-2 no-padding-lr">
        <p>Destination :</p>
      </div>
      <div class="col-xs-9 col-sm-1 col-md-5">
        <div class="input-group">
          <%= text_field_tag "destination", params[:destination], :class => "form-control", :placeholder => "Search for..." %>
          <span class="input-group-btn">
            <%= submit_tag "Cari", :class => "btn btn-default" %>
          </span>
        </div>
      </div>
    <% end %>
  </div>
</div>